{% extends 'layouts/base.html' %}

{% block title %}AirtrafficManagement | Authentification{% endblock title %}

{% block content %}
    <h1 align = "center">⚠ Page d'authentification</h1>
    <article>
        <p class="content"> Bonjour, vous etes sur la page d'authentification et vous essayer d'accéder à la page d'administration générale du trafic de cette application web.
            <br> Si vous etes administrateur et disposez des droits nécessaires, 👉  <a id="under1" href="../admin/">Continuer</a> et saisissez votre identifiant et mot de passe.
            <br> Sinon veillez revenir à la page d' <a id="under2" href="{% url 'home' %}">Accueil</a>
        </p>
    </article>
    {% include 'layouts/_footer.html' %}
{% endblock content %}
