{% load static %}

<div id="slider">
    <div id="slides">
        <figure id="slide1">
            <img src="{% static 'image/image2.jpg' %}" alt="Une première image">
            <figcaption>AirtrafficManagement, l'application web de gestion du trafic aérien</figcaption>
        </figure>
        <figure id="slide2">
            <img src="{% static 'image/image1.jpg' %}" alt="Une deuxième image">
            <figcaption>AirtrafficManagement, l'application web de gestion du trafic aérien</figcaption>
        </figure>
        <figure id="slide3">
            <img src="{% static 'image/image3.jpg' %}" alt="Une troisième image">
            <figcaption>AirtrafficManagement, l'application web de gestion du trafic aérien</figcaption>
        </figure>
   </div>
</div>
