{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AirTrafficManagement{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% block stylesheets %}{% endblock stylesheets %}
</head>

<body>
    {% include 'layouts/_nav.html' %}
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
    {% block javascripts %}{% endblock javascripts %}
</body>

</html>