{% extends 'trafic/base.html' %}

{% block title %}AirTrafficManagement | Entité impliquées dans le trafic{% endblock title %}

{% block body %}
<div id="wrapper">
    {% include 'trafic/layouts_entite/_sidebar_entite.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 align='center'>AirtrafficManagement | Entité impliquées dans le trafic</h1>
                    <div class="search-container">
                        <form action="">
                          <input type="text" placeholder="Rechercher un aéroport" name="">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                    </div>
                    <h3 id="taille" align = 'center'>Liste des {{ airport|length }} premiers aéroports avec {{ airports|length }} aéroports au total dans la base</h3><br>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom de l'aéroport</th>
                                <th>Longitude</th>
                                <th>Latitude</th>
                                <th>Altitude</th>
                                <th>Timezone</th>
                                <th>Ville</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for airport in airport %}
                            <tr>
                                <td>{{airport.airport_id}}</td>
                                <td>{{airport.airport_name}}</td>
                                <td>{{airport.longitude}}</td>
                                <td>{{airport.latitude}}</td>
                                <td>{{airport.altitude}}</td>
                                <td>{{airport.timezone1}}</td>
                                <td>{{airport.city_id}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
