{% extends 'trafic/base.html' %} {% block title %}AirTrafficManagement | Entité impliquées dans le trafic{% endblock title %} {% block body %}
<div id="wrapper">
    {% include 'trafic/layouts_entite/_sidebar_entite.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 align='center'>Resultat: {{ avions|length }} avions au total</h1>
                    <div class="search-container">
                        <form class="navbar-form navbar-left" action="" method="POST">
                            {% csrf_token %}

                            <input type="text" id="nom_avion" name="nom_avion" class="form-control" placeholder="Search">

                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>

                    </div>
                </div>
                <div class="fixation">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom de l'avion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for avion in avion %}
                            <tr>
                                <td>{{avion.plane_id}}</td>
                                <td>{{avion.plane_name}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'trafic/_footer.html' %}
    </div>
</div>
{% endblock body %}