{% extends 'trafic/base.html' %}

{% block title %}AirTrafficManagement | Entité impliquées dans le trafic{% endblock title %}

{% block body %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="{% url 'trafic:entite' %}">Compagnies</a>
            </li>
            <li>
                <a href="{% url 'trafic:airport' %}">Aéroports</a>
            </li>
            <li>
                <a href="{% url 'trafic:avion' %}">Avions</a>
            </li>
            <li>
                <a href="{% url 'trafic:city' %}">Villes</a>
            </li>
            <li>
                <a href="{% url 'trafic:pays' %}">Pays</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 align='center'>AirtrafficManagement | Entité impliquées dans le trafic</h1>
                    <div class="search-container">
                        <form action="">
                          <input type="text" placeholder="Rechercher une ville" name="">
                          <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                      </div>
                    </div>
                    <h3 id="taille" align = 'center'>Liste des {{ city|length }} premières villes avec {{ cities|length }} villes au total dans la base</h3><br>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom de la ville</th>
                                <th>Pays</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city in city %}
                            <tr>
                                <td>{{city.city_id}}</td>
                                <td>{{city.city_name}}</td>
                                <td>{{city.country_id}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
