{% extends 'trafic/base.html' %} {% load static %} {% block title %}AirTrafficManagement | Densité du trafic{% endblock title %} {% block body %}
<div id="wrapper">
    {% include 'trafic/layouts_densite/_sidebar_densite.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 align='center'>AirtrafficManagement | Découvrir le trafic</h1>
                    <p></p>
                </div>
                <div class="col-sm-6">
                    <article>
                        <h3 align='center'>Présentation Air France</h3>
                        <br>
                        <video width="1000" height="450" controls src="{% static 'video/trafic4.mp4' %}"></video>
                    </article>
                    <article>
                        <h3 align='center'>Présentation Trafic aérien en Europe</h3>
                        <br>
                        <video width="1000" height="450" controls src="{% static 'video/trafic3.mp4' %}"></video>
                    </article>
                    <article>
                        <h3 align='center'>Présentation Air France et la patrouille de France</h3>
                        <br>
                        <video width="1000" height="450" controls src="{% static 'video/trafic2.mp4' %}"></video>
                    </article>
                    <article>
                        <h3 align='center'>Air France et patrouille de france en Mission Athos</h3>
                        <br>
                        <video width="1000" height="450" controls src="{% static 'video/trafic1.mp4' %}"></video>
                    </article>
                    <article>
                        <h3 align='center'>Présentation Turkish Airline</h3>
                        <br>
                        <video width="1000" height="450" controls src="{% static 'video/trafic5.mp4' %}"></video>
                    </article>
                </div>
            </div>
        </div>
        {% include 'trafic/_footer.html' %}
    </div>
</div>
{% endblock body %}
