{% extends 'trafic/base.html' %}

{% block title %}AirTrafficManagement | Plans de vol{% endblock title %}

{% block body %}
<div id="wrapper">
    {% include 'trafic/layouts_plan/_sidebar_plan.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 align="center">AirTrafficManagement | Plans de vol</h1>
                    <p></p>
                </div>
            </div>
        </div>
        {% include 'trafic/_footer.html' %}
    </div>
</div>
{% endblock body %}
