{% extends 'trafic/base.html' %}

{% block title %}AirtrafficManagement | Bilan{% endblock title %}

{% block content %}
    <h1 align = 'center'>AirtrafficManagement | Bilan statistique</h1>
    <article align='center' id="ordre">
        <h4 align="center">Entités intervenant dans le traffic</h4>
        <br>
        <div align='center' class="chiffre">
            <div class="contenu text-center">

            </div>
        </div>
    </article>
    {% include 'layouts/_footer.html' %}
{% endblock content %}
