<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="{% url 'trafic:entite' %}">Compagnies</a>
        </li>
        <li>
            <a href="{% url 'trafic:airport' %}">Aéroports</a>
        </li>
        <li>
            <a href="{% url 'trafic:avion' %}">Avions</a>
        </li>
        <li>
            <a href="{% url 'trafic:city' %}">Villes</a>
        </li>
        <li>
            <a href="{% url 'trafic:pays' %}">Pays</a>
        </li>
        <li>
            <a href="{% url 'trafic:routes' %}">Lignes aériennes</a>
        </li>
    </ul>
</div>
